body, input, select, textarea {
		color: #666;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}

div.welcome-pg {
	background-attachment: fixed;
	background-image: url("../images/banner.jpg");
	float: left;
	width: 50%;
	height: 85%;
	/*background-color: #33cccc;*/
	background-size: 80%;
	background-position: left;
	margin-top: 10%;
	line-height: 1.75;
	text-align: center;
}

div.hdr {
	background-color: #33cccc;
	color:#fff;
	width: 100%;
	height: 10%
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
    padding-left: 5%;
    padding-right: 5%;
}

.left-align {
	text-align: left;

}

.right-align {
	text-align: right;
	margin-left: 70%;
}


div.question {
	
	margin-left: 50%;
    border-left: 1px solid gray;
	background-size: cover;
    border-left: 1px solid gray;
    padding: 1em;
    color: #686868;
}

div.footer {
	background-color: #10a1ff;
	color:#fff;
	width: 100%;
	height: 5%
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
    text-align: right;
    padding-right: 5%;
}

form.backy {
	background-color: #ffcc00;
}
/*		color: #10a1ff;*/
	#content h1 {

		color: #ffcc00;
		display: inline-block;
		font-size: 3.5em;
		line-height: 1.35;
		margin: 0.5em;
	}

	#content p {
		color: #fff;
		font-size: 1.5em;
		margin: 1.75em;
	}

	#content a{
		color: #dff;
		font-size: 1.8em;
		font-weight: 200;
	}

#link-look-better li{
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	}
	
	#link-look-better a
	{
		text-decoration: none;
		color: #fff;
		padding: 5px;
		background-color: #66ccff;
		border-radius: 5px;
	}

	#link-look-better a:hover {
		color: #606060;
		text-decoration: underline;
	}

#right-side-align a {
	float: right;
	padding-right: 5%;
}

#left-side-align {
	text-align: left;

}

.side-link-design {
	background-color: #d8d8d8
	display: inline-block;
	border-radius: 5px;
}