body, input, select, textarea {
		color: #666;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
		margin: 0;
		padding: 0;
	}

div.welcome-pg {
	background-image: url("../images/boat2.jpg");
	float: left;
	width: 50%;
	height: 50%;
	/*background-color: #33cccc;*/
	background-size: 200%;
	padding: 15% 0;
	line-height: 1.75;
	text-align: center;
}

div.hdr {
	background-color: #fff;
	color:#66ccff;
	width: 100%;
	height: 10%;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    border: 3px solid #c8c2c2;
    line-height: 150%;
}

    #logo{
        float: right;
        width: 30%;
        height: 30%;
        margin-bottom: 0;
        margin-right:35%
    }

div.question {
	
	margin-left: 50%;
    border-left: 1px solid gray;
	background-size: cover;
    padding: 1em;
    color: #686868;
}

div.footer {
	background-color: #10a1ff;
	color:#fff;
	width: 100%;
	height: 5%;
    margin: 0;
    border: 1px solid gray;
    line-height: 150%;
    text-align: right;
    padding-right: 5%;
}

form.backy {
	background-color: #fecd0a;
}
/*		color: #10a1ff;*/
	#content h1 {

		color: #fecd0a;
		display: inline-block;
		font-size: 3.5em;
		line-height: 1.35;
		margin: 0.5em;
	}

	#content p {
		color: #fff;
		font-size: 1.5em;
		margin: 1.75em;
	}

	#content a{
		color: #dff;
		font-size: 1.8em;
		font-weight: 200;
	}

#link-look-better li{
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	}
	
	#link-look-better a
	{
		text-decoration: none;
		color: #fff;
		padding: 5px;
		background-color: #66ccff;
		border-radius: 5px;
	}

	#link-look-better a:hover {
		color: #fbe705;
	}

.left-align {
	text-align: left;

}

.right-align {
	text-align: right;
	margin-left: 70%;
}