
body {
    background: url("../img/canyon.jpg") no-repeat center center fixed;
    background-size: cover;
}

body, input, select, textarea {
    color: #666;
    font-family: "Raleway", Calibri, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

div.hdr {
    color:#a4e0fe;
    width: 100%;
    height: 10%;
    margin: 0;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:right;
    border-bottom: 1px solid #fff;
    line-height: 150%;
}

#logo{
    float: right;
    width:10%;
    height: 10%;
    margin-bottom: 10px;
    margin-right:40%;
}

div.welcome-pg {
    height: 50px;
    padding: 1% 0;
    line-height: 1.75;
    text-align:center;
}

/*		color: #10a1ff;*/
#content h1 {
  color: #ffd531;
  display: inline-block;
  font-size: 3.5em;
  line-height: 1.35;
  margin: 0.5em;
}

#content p {
    display:inline-block;
    border-radius: 2px;
    color: #dff;
    font-size: 24px;
    font-weight:bold;
    margin-top: 5px;
}

#content a {
    color: #dff;
    font-size: 1.8em;
    font-weight: 200;
}

div.question {
    display:inline-block;
    background-color:rgba(248, 245, 245,0.1);
    margin-top:5%;
    margin-left:36%;
    text-align:center;
    background-size: cover;
    color: #09011e;
}

form.backy {
    background-color: #ffd531;
    border-radius: 2px;
    color:#656363;
    font-size:16px;
}

div.footer {
	/*background-color: #66ccff;
    background-color:rgba(102,204,255,0.6);*/
    height: 5%;
    margin-top:8px;
    color:#fff;
    line-height: 150%;
    text-align: right;
}

#link-look-better li{
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
}

a#link-look-better {
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: #66ccff;
    border-radius: 2px;
}

a#link-look-better:hover {
    color: #66ccff;
    background-color:#fff;
}   

.left-align {
    text-align: left;

}

.right-align {
    text-align: right;
    margin-left: 70%;
}

/*From reco.html*/
body.back-img2 {
    background: url("../img/italy.jpg") no-repeat center center fixed;
    background-size: cover;
}

div.hdr2 {
    color:#a4e0fe;
    width: 100%;
    height: 10%;
    margin:0;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:right;
    border-bottom: 1px solid #fff;
}

#logo2{
    float: right;
    width:9%;
    height: 9%;
    margin-bottom: 8px;
    margin-right:40%;
}

div.sentence {
    margin-left: 20px;
    margin-right: 10px;
    clear:both;
    float:left;
    text-align:left;
    font-size:16px;
    padding-bottom: 20px;
    font-weight:normal;
    color:#dff;
    height: 30px;
}
#button-big{
    float:left;
    text-align:left;
    font-size:16px;
    color:#dff;
    height: 30px;
}
#button-big a{
    width: 160px;
    height: 30px;
    padding-top: 16px;
    float: left;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    font-size:16px;
    color: #161616;
}

div#button-big a:hover {
    text-decoration: none;
    background-color:#ffd531;
    color: #fff;
}

form.search-backy {
    clear: both;
    float: left;
    padding:10px;
    margin-top: 5px;
    margin-bottom:5px;
    background-color:#ffd531;
    border-radius: 2px;
}

#listy {
    text-align:left;
    margin-bottom: 5px;
    font-size:14px;
    font-weight:normal;
    list-style:none;
    padding: 10px;
}

.option{
    padding: 10px 5px;
}

.option:hover {
    color:#ffd531;
}

.on-item {
    clear: both;
    float: left;
    width: 100%;
}

.leftPanel {
    clear:both;
    float:left;
    width: 300px;  
    padding:0 20px; 
    text-align:left;
    font-size:16px;
    padding-bottom: 20px;
    font-weight:normal;
    color:#dff;
    height: 30px;
}
#walmartSearchInput{
    clear: both;
    float: left;
    font-size: 14px;
    padding: 10px;
}

#walmartSearchButton{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px;
}

div.container {
    margin-top: 20px;
    margin-left: 20px;
    float:left;
    border: 1px solid #000;
    width: 900px;
    min-height: 450px;
}
.box{
    border: 1px solid #000;
    margin: 10px 45px;
    float: left;
    width: 200px;
    height: 300px;
}
.productImage{
    margin: 10px;
    width: 180px;
    height: 250px;
    clear: both;
    float: left;
}
.newRow{
    clear: both;
}

.box button{
    clear: both;
    float: left;
    margin: 0px 0 10px 54px;
}