body, input, select, textarea {
	color: #666;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 2em;
	clear: both;
	float: left;
	padding: 0px;
	margin: 0px;
	border: none;
}

body{
	width: 100%;
}

#welcome-pg {
	background-image: url("../img/banner.jpg");
	clear: both;
	float: left;
	width: 50%;
	height: 100%;
	line-height: 1.75;
}
#welcome-pg p{
	text-align: center;
	color: #fff;
	margin: auto 0;
	font-family: Arial;
}


#hdr {
	clear: both;
	float: left;
	background-color: #33cccc;
	color:#fff;
	width: 100%;
	height: 150px;
	margin: 0px;
	line-height: 150%;
	padding: 0px;
}

	#right-div {
	float: left;
	padding: 10px;
	color: #686868;
}

#right-div p{
	padding: 0px;
	margin: 0px;	
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

#right-div p:first-child{
	font-size: 20px;
	font-weight: bold;
}

#footer {
	clear: both;
	float: left;
	background-color: #10a1ff;
	color:#fff;
	width: 100%;
	height: 5%;
	margin: 0px;
	border: 1px solid gray;
	line-height: 150%;
	text-align: right;
}

form.backy {
	background-color: #ffcc00;
}
/*		color: #10a1ff;*/
#content h1 {

	color: #ffcc00;
	display: inline-block;
	font-size: 3.5em;
	line-height: 1.35;
	margin: 0.5em;
}

#content p {
	color: #fff;
	font-size: 1.5em;
	margin: 1.75em;
}

#content a{
	color: #dff;
	font-size: 1.8em;
	font-weight: 200;
}

#link-look-better li{
	display: inline;
}

#link-look-better a
{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	background-color: #66ccff;
	border-radius: 5px;
}

#link-look-better a:hover {
	color: #606060;
	text-decoration: underline;
}


.side-link-design {
	background-color: #d8d8d8;
	border-radius: 5px;
}