body {
    background: url("../img/canyon.jpg") no-repeat center center fixed;
    background-size: cover;
}

.hdr {
    color:#a4e0fe;
    width: 100%;
    height: 10%;
    margin: 0;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:right;
    border-bottom: 1px solid #fff;
}

#logo{
    float: right;
    width:9%;
    height: 9%;
    margin-bottom: 10px;
    margin-right:40%;
}

.welcome-pg {
    height: 50px;
    padding: 1% 0;
    line-height: 1.75;
    text-align:center;
}

/*		color: #10a1ff;*/
#content h1 {
  color: #ffd531;
  display: inline-block;
  font-size: 3.5em;
  line-height: 1.35;
  margin: 0.5em;
}

#content p {
    display:inline-block;
    border-radius: 2px;
    color: #dff;
    font-size: 24px;
    font-weight:bold;
    margin-top: 5px;
}

#content a {
    color: #dff;
    font-size: 1.8em;
    font-weight: 200;
}

.question {
    display:inline-block;
    background-color:rgba(248, 245, 245,0.5);
    padding: 10px;
    border-radius: 2px;
    margin-top:5%;
    margin-left:27%;
    text-align:center;
    background-size: cover;
    color: #09011e;
}

.backy {
    background-color: #02527a;
    border-radius: 2px;
    color:#dff;
    font-size:20px;
    clear: both;
    float: left;
}

.backy fieldset{
    clear: both;
    float: left;
    width: 560px;
    margin: 10px;
}

.footer {
	/*background-color: #66ccff;
    background-color:rgba(102,204,255,0.6);*/
    height: 5%;
    margin-top:8px;
    color:#fff;
    line-height: 150%;
    text-align: right;
}

.activities{
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.activityFields{
    float: left;
    width: 180px;
    height: 40px;
    margin-left: 5px;
}

.activityFields input{
    margin-top: 5px;
    clear: both;
    float: left;
}
#submitButton{
    clear: both;
    font-size: 14px;
    padding: 10px;
    border-radius:2px;
    background-color:#fff;
    border: 1px solid #000; 

    margin: 0 auto;
}
#place{
    font-size: 14px;
    padding: 10px;
    border-radius:2px;
    background-color:#fff;
    border: 1px solid #000;     
}