/*From reco.html*/
body{
    background: url("../img/italy.jpg") no-repeat center center fixed;
    background-size: cover;
}

div.hdr2 {
    color:#a4e0fe;
    width: 100%;
    height: 10%;
    margin:0;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:right;
    border-bottom: 1px solid #fff;
}

#logo2{
    float: right;
    width:9%;
    height: 9%;
    margin-bottom: 8px;
    margin-right:40%;
}

.sentence {
    margin-right: 10px;
    margin-bottom: 10px;
    clear:both;
    float:left;
    text-align:left;
    font-size:20px;
    padding: 0 10px;
    background-color:#09011e;
    font-weight:normal;
    color:#dff;
}
#button-big{
    float:left;
    text-align:left;
    font-size:20px;
    color:#dff;
    height: 30px;
}
#button-big a{
    width: 160px;
    height: 30px;
    padding-top: 10px;
    float: left;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    font-size:18px;
    color: #161616;
}

div#button-big a:hover {
    text-decoration: none;
    background-color:#ffd531;
    color: #fff;
}

.search-backy {
    clear: both;
    float: left;
    padding:10px;
    margin-top: 5px;
    margin-bottom:15px;
    background-color:#ffd531;
    border-radius: 2px;
    width:280px;
}

#listy {
    clear:both;
    float: left;
    text-align:left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:18px;
    font-weight:normal;
    list-style:none;
}

.option{
    padding: 5px 0px;
    width: 300px;
}

.option:hover {
    color:#ffd531;
}

p.option:first-child{
    color: #fff;
}

.elem{
    width: 280px;
    margin-left: 20px;
}

.on-item {
    clear: both;
    float: left;
    width: 100%;
}

.leftPanel {
    clear:both;
    float:left;
    width: 300px;  
    padding:0 20px; 
    text-align:left;
    font-size:18px;
    background-color:#09011e;
    font-weight:normal;
    color:#dff;
    height: 440px;
}
#walmartSearchInput{
    clear: both;
    float: left;
    font-size: 16px;
    padding: 10px;
}

#walmartSearchButton{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px;
}

div.container {
    margin-top: 20px;
    margin-left: 20px;
    float:left;
    border: 1px solid #fff;
    width: 900px;
    min-height: 450px;
    background-color:rgba(248, 245, 245,0.5);
}
.box{
    border: 1px solid #000;
    margin: 10px 45px;
    float: left;
    width: 180px;
    padding: 0 10px;
    min-height: 250px;
    text-align:center;
    font-size:14px;
    color:#fff;
    background-color:#09011e;
}

.box:hover {
    background-color:#2C1D54;
}
.productImage{
    margin: 10px 0;
    width: 180px;
    height: 180px;
    clear: both;
    float: left;
}
.newRow{
    clear: both;
}

.box a{
    clear: both;
    float: left;
    background-color: #ffd531;     
    padding: 5px 77px;
    color: #000;
    border-bottom: 2px solid #000;
    margin: 5px 0;
}

.box a:hover{
    background-color: #ffd935;
}

.box a:active{
    background-color: #fff;
}

.next-pg button{
    clear:both;
    float: right;
    width: 80px;
    height:30px;
    font-size: 18px;
    margin: 10px 20px 10px 0;

}
