
body, input, select, textarea {
    color: #666;
    font-family: "Raleway", Calibri, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#link-look-better li{
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
}

a#link-look-better {
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: #66ccff;
    border-radius: 2px;
}

a#link-look-better:hover {
    color: #66ccff;
    background-color:#fff;
}   

.left-align {
    text-align: left;

}

.right-align {
    text-align: right;
    margin-left: 70%;
}
.newRow{
    clear: both;
}